@page
@model IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home page";
}

@foreach (var pizza in Model.DBProduct)
{
    var imagePath = "~/images/Pizzas/" + (pizza.ImageTitle);
    <div class="col-md-4" style="color: white ; margin-top: 10px;">
        <div class="product-item">
            <div class="product-title">
                <a>@pizza.ProductName</a>
                <div class="ratting">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>
            <div class="product-image">
                <a asp-area="" asp-page="DetailProducts"
               asp-route-ProductID="@pizza.Id">
                    <img src="@imagePath" class="w-100" asp-append-version="true" />
                </a>
            </div>
            <div class="product-price">
                <h4 style="text-align: center">@pizza.Price<span>VND</span></h4>
                <a class="btn btn-primary mt-1 pizza-img" style="text-align:right" asp-area="" asp-page="DetailProducts"
               asp-route-ProductID="@pizza.Id"><i class="fa fa-shopping-cart"></i>Get this Book</a>
                <br />

            </div>
        </div>
    </div>
}






@*@{
    var prevDisabled = !Model.PreviousPage ? "disable" : "";
    var nextDisabled = !Model.NextPage ? "disable" : "";
}
<a asp-action="Index" asp-route-pageNumber="@Model.PageIndex - 1)" class="btn btn-default" @prevDisabled>Previous</a>

<a asp-action="Index" asp-route-pageNumber="@Model.PageIndex + 1)" class="btn btn-default" @nextDisabled>Next</a>
*@