@page
@model app.Pages.PizzaModel
@{
}
@* <a class="nav-link text-dark" asp-area="" asp-page="Forms/CustomPizza">CustomPizza</a>
 <a class="nav-link text-dark" asp-area="" asp-page="Checkout/Checkout">Checkout</a>*@

 <div class="text-center">
     <div class="mainText">
          <h1 class="display-4 text-capitalize text-black">Our great Selection</h1>
          <h4>Choose one Or More</h4>
          <h4>no need to give any of your details</h4>
          <h4>We already know everything</h4>
          <p class="smallText"><i>only one pizza per order</i></p>
     </div>
     <div class="container">
         <div class="row">
             <div class="col-12 mb-5 mt-5">
                 <div class="w-100 row makeYourOwnDiv">
                     <div class="col-4">
                         <img src="~/images/Pizzas/Create.png" class="w-100" />
                     </div>
                     <div class="col-8 align-items-center">
                         <div class="align-middle makeYourOwnText">
                             <h3 style="text-align: left;">Create your Own Pizza</h3>
                             <p style="text-align: left;">Make Your Own Pizza with Our MarketPizza</p>
                             <a class="btn btn-primary" style="float: left" asp-area="" asp-page="Forms/CustomPizza">Try Now</a>
                         </div>
                     </div>
                 </div>
             </div>
             @foreach (var pizza in Model.DBProduct)                {
                    @*var imagePath = "~/images/Pizzas/" + (pizza.ImageTitle + ".png");

                    <div class="col-4 mb-5">
                 
                        <img src="@imagePath" class="w-100" asp-append-version="true" />
                         <a class="btn btn-primary mt-1 pizza-img" asp-area="" asp-page="Checkout/Checkout"
                            asp-route-ImageTitle="@pizza.ImageTitle" asp-route-PizzaPrice="@pizza.FinalPrice">Get this Pizza</a>
                         <br/>
                    </div>*@

                    var imagePath = "~/images/Pizzas/" + (pizza.ImageTitle + ".jpg");
                            <div class="col-md-4"  style="color: white ; margin-top: 10px;">
                                <div class="product-item">
                                    <div class="product-title">
                                        <a>@pizza.ImageTitle</a>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="product-image">
                                        <a href="DetailProducts/@pizza.Id">
                                            @*<img alt="@pizza.PizzaName" src="~/images/Pizzas/" + (pizza.ImageTitle) />*@
                                            <img src="@imagePath" class="w-100" asp-append-version="true" />
                                        </a>
                                       @* <div class="product-action">
                                            <a href="@Url.Action("Themgiohang","Giohang", new { @iMasach = @sach.Masach, @strURL=Request.Url.ToString()})"><i class="fa fa-cart-plus"></i></a>
                                            <a href="@Url.Action("Details", "BookStore", new { id = sach.Masach })"><i class="fa fa-search"></i></a>
                                        </div>*@
                                    </div>
                                    <div class="product-price">
                                        <h3>@pizza.Price<span>VND</span></h3>
                                        <a class="btn btn-primary mt-1 pizza-img" asp-area="" asp-page="DetailProducts"
                                            asp-route-ProductID="@pizza.Id">Get this Book</a>
                                         <br/>

                                    </div>
                                </div>
                            </div>
                 }
         </div>
     </div>
 </div>